/* The Root And Body Section */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
:root{
  --Bg-color:#2F1B41;
  --text-color:#f7eae8;
  --hour-clock-hand:#ffb526;
  --min-clock-hand:#3ab0ff;
  --sec-clock-hand:#f87474;


  --secondlayer-background-color:#872341;
  --thirdlayer-background-color:#BE3144;
  --click-hover-colors:#F05941;
  --important-text-colors:#3ab0ff;
  --lines-atracting-colors:#ffb526;
}

html{
  width:510px;
  height:600px;
  background-color: var(--Bg-color);
  border-radius: 20px;
  color: var(--text-color);
  zoom:80%;
  user-select: none; 
  font-family: 'Inconsolata', Comic Sans Ms; 
  font-size: 15px;
}

body{
  overflow: none;
  background-color: var(--background-color);
}
*::after, *::before {
  box-sizing: border-box;
}
/* Important Stuff */
button{
  color:var(--text-color);
  border-radius: 15px;
  border: transparent;
  cursor: pointer;
  transition: all ease-in-out 350ms;
  font-family: 'Inconsolata', monospace;
  background-color: var(--thirdlayer-background-color);
}
span{
  box-shadow: #f7eae8;
}
.space {padding: 2.6rem 0;}
/* The Navigation System Style */
nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 3.5rem;
}
nav button {
  width: calc(499px / 3);
}
.NavBtn {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1rem;
  transition: all 350ms ease;
  color: var(--important-text-colors);
}

.NavBtnLine {
  width: 60%;
  background-color: var(--important-text-colors);
  border-radius: 15px;
  height: 5px;
  margin: 0 auto;
  transition: all 350ms ease;
}
.NavBtn:hover {
  color: var(--click-hover-colors);
  cursor: pointer;
}
.NavBtn:hover + .NavBtnLine {
  cursor: pointer;
  background-color: var(--click-hover-colors);
  width:70%;
  transform: translateY(-0.2rem);
}

.NavBtn span{font-size: 1.5rem;}

.panel {display: none;}

.panel.active {display:block;}
/* The Scrool Bar  */
body::-webkit-scrollbar{width:0.5rem;background-color: transparent;border-radius: 30px;}
body::-webkit-scrollbar-thumb{background-color: var(--click-hover-colors);border-radius: 30px;}

/* The Home Section */
/* The Date and Time code */
#TimeSpan{
  font-size: 1.5rem;
  transform: translateY(-5.5rem);
}
#TimeClockSpan{
  font-size: 1.5rem;
}
.Time{margin-top: 4rem;}
/* The Clock Code */
.clock {
  width: 200px;
  height: 200px;
  background-color: var(--secondlayer-background-color);
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  transform: scale();
  float:left;
  margin-top: -3rem;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1rem;
}
  
.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }
  
.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: var(--sec-clock-hand);
}
.clock .hand.minute {
  width: 6px;
  height: 40%;
  background-color: var(--min-clock-hand);
}
  
.clock .hand.hour {
  width: 8px;
  height: 35%;
  background-color: var(--hour-clock-hand);
}
 
/* The Callender styles */

.calendar {
  width: 100%;
  height: fit-content;
 	color: default;
  zoom:60%;
   left: 50%;
   right: 50%;
   margin:0 auto;
}

.month {
  width: 90%;
  height: 12rem;
  background-color:var(--thirdlayer-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin:0 auto;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
  margin:0 auto;
}

.days div {
  font-size: 1.3rem;
  margin: 0.3rem;
  width: calc(92.2% / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  border-radius: 20px;
}

.days div:hover{
  /* border: 0.2rem solid var(--click-hover-colors); */
  background-color: var(--click-hover-colors);
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: var(--important-text-colors);
}

/* The Events Section*/
/* The Event's Body style */
.Event{
  background-color: var(--secondlayer-background-color);
  border-radius: 30px;
  width:98%;
  height: fit-content + 2rem;
  padding:0.2rem;
}
.Event p{
  margin-left: 2rem;
}
.EventTitle{
  text-align: center;
}
.EventImg{
  border-radius: 15px;
  width:10rem;
  height:10rem;
  float:right;
  margin-top:3rem;
}
.EventLMBtn{
  background-color: var(--thirdlayer-background-color);
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.EventDiscription{font-size: 1.2rem;}
.EventCountDownTimer{font-size: 1.2rem;}
#EventCountDownTimer{margin-left: 1.5rem;}
/* The Timer Section */

.timerDisplay{
  width: 92%;
  background: var(--secondlayer-background-color);
  padding: 20px 0;
  color: var(--text-color);
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  margin:0 auto;
}
.ControlsBtns{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.ControlsBtns button{
    width: 120px;
    height: 45px;
    font-size: 18px;
}
.ControlsBtns button:nth-last-child(3){
  background-color: var(--min-clock-hand);
}
.ControlsBtns button:nth-last-child(2){
  background-color: var(--hour-clock-hand);
}
